.cardsList {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 3rem;
  margin: 0;
}

.bodyEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FilterContainer {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.NavFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.642);
  min-width: 25vw;
  gap: 0.3rem;
}

.h3Nav {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0 2% 2% 2%;
}

@media screen and (min-width: 768px) {
  .cardsList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .NavFormContainer {
    width: 2%;
    min-width: 15vw;
  }
}
