.cardsList {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 3rem;
  margin: 0;
}

.bodyEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FormContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-items: center;
  border: 0.2px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.141),
    0 6px 20px 0 rgba(0, 0, 0, 0.103);
  background-color: #f4f2f29f;
  margin: 5%;
}

.SearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.3%;
  padding-top: 5%;
  width: 100%;
}

/*.SearchBar{}*/

.SelectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 25vw;
  gap: 0.3%;
}

.h3Filter {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0 2% 2% 2%;
  text-shadow: 1px 1px 1px rgb(224, 221, 221);
}

@media screen and (min-width: 768px) {
  .cardsList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .FormContainer {
    width: 80%;
    flex-direction: row;
    padding: 2%;
    margin: 2%;
  }
  .SearchContainer {
    padding: 0;
    margin-right: 5%;
  }

  .SelectContainer {
    margin-left: 5%;
  }
}
