.cardsList {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 3rem;
  margin: 0;
}

.bodyEl {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cardsList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
