.banner {
    background-image: url("/img/banner.png");
    height: 300px;
    background-position: 35% 75%;
    background-size: cover;
  
 

}

.banner_text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.3em;
    padding-top: 1.5em;
    min-width: 15em;

    height: 15em; 
    color: rgb(23, 156, 217);
    font-weight: bold;
    text-shadow: 2px 2px #eee6e6;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.banner_text2 {

    padding-left: 40px;
    min-width: 15em;

}

.banner_text3 {

    padding-left: 80px;
    min-width: 15em;
    margin: 0;

}

@media screen and (min-width: 900px)  {

    .banner_text {
        font-size: 2em;
        margin-left: 0.2em;
        padding-top: 0.2em;
        width: 100%;
        font-size: 2.5rem;
    }

    .banner_text2 {

        padding-left: 1.5em ;
        padding-top: 2.2em;
    }

    .banner_text3 {

        padding-left: 2em;
        padding-top: 4.3em;

    }


}