nav {
  background: linear-gradient(rgba(53, 149, 170, 0.686), white);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.elementsNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}

.NavtitleContainer {
  color: rgba(25, 185, 234, 0.882);
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-family: "Patrick Hand", cursive;
  text-shadow: 1px 1px 2px rgb(45, 62, 60);
}
