nav {
  background: linear-gradient(rgba(53, 149, 170, 0.686), white);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.elementsNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.NavtitleContainer {
  color: rgba(25, 185, 234, 0.882);
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-family: "Patrick Hand", cursive;
  text-shadow: 1px 1px 2px rgb(45, 62, 60);
}

.NavFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 5px 2px 2px rgba(128, 128, 128, 0.642);
  min-width: 25vw;
  gap: 0.3rem;
}

.h3Nav {
  /* font-family: "Roboto", sans-serif; */
  font-size: 1em;
  margin: 0 2% 2% 2%;
}

@media screen and (min-width: 700px) {
  .NavFormContainer {
    width: 2%;
    min-width: 15vw;
  }
}
