nav {
  background: linear-gradient(rgba(53, 149, 170, 0.686), white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 2% 0 2%;
  box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.642);
}
.titleContainer {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  /* font-family: "Patrick Hand", cursive; */
  text-shadow: 1px 1px 2px rgb(45, 62, 60);
}
