:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

html {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.totopButton {
  background-image: url("/img/white-chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 5%;
  bottom: 10%;
  border-radius: 50%;
  font-size: 2rem;
  background-color: rgba(53, 149, 170);
  border: 2px solid white;
  padding: 0.5rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  z-index: 1;
}

.totopButton:hover {
  background-image: url("/img/blue-chevron.svg");
  background-color: white;
  border: 2px solid rgba(53, 149, 170);
}

.overflowHidden {
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .totopButton {
    right: 2%;
    bottom: 5%;
  }
}
